div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 1px;
}

div.scroll-container img {
  padding: 1px;
}
#dog {width :450px;}
#cocco{width: 450px;}
#mydog{width: 450px;}
#urdog{width: 450px;}
#jotdog{width:450px; }
#bhu{width: 450px ; }

